# Default values for ml-api-adapter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
enabled: true

# Default values
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: mojaloop/ml-testing-toolkit
  tag: v17.1.1
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ## e.g:
  ## pullSecrets:
  ##   - myRegistryKeySecretName
  ##
  pullSecrets: []

replicaCount: 1

# .Values.persistence.enabled = true
commandPersistence: '["sh", "-c", "cd /opt/default_config; for FILE in *; do newFileName=/opt/app/spec_files/${FILE//__/\\/}; mkdir -p ${newFileName%/*}; firstLine=$(head -n 1 $FILE | tr -d \\\"); regex=\"^(http|https|ftp)://\"; if [[ \"$firstLine\" =~ $regex ]]; then wget $firstLine -O $newFileName; else cp $FILE $newFileName; fi; done; cd /opt/app; if [ -d /opt/ttk-data ]; then if [ ! -d /opt/ttk-data/spec_files ]; then cp -pR spec_files /opt/ttk-data/spec_files; fi; mv spec_files spec_files_bkp; ln -s /opt/ttk-data/spec_files spec_files; fi; npm run start;"]'
# .Values.persistence.enabled = false
command: '["sh", "-c", "cd /opt/default_config; for FILE in *; do newFileName=/opt/app/spec_files/${FILE//__/\\/}; mkdir -p ${newFileName%/*}; firstLine=$(head -n 1 $FILE | tr -d \\\"); regex=\"^(http|https|ftp)://\"; if [[ \"$firstLine\" =~ $regex ]]; then wget $firstLine -O $newFileName; else cp $FILE $newFileName; fi; done; cd /opt/app; npm run start;"]'

## Pod scheduling preferences.
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

## Node labels for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector
nodeSelector: {}

## Set toleration for scheduler
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

## Configure Container Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
## @param containerSecurityContext.enabled Enabled %%MAIN_CONTAINER_NAME%% containers' Security Context
## @param containerSecurityContext.runAsUser Set %%MAIN_CONTAINER_NAME%% containers' Security Context runAsUser
##
containerSecurityContext:
  enabled: true
  runAsUser: 1001

readinessProbe:
  enabled: false
  httpGet:
    path: /health
  initialDelaySeconds: 120
  periodSeconds: 15
livenessProbe:
  enabled: false
  httpGet:
    path: /health
  initialDelaySeconds: 90
  periodSeconds: 15

config:
  mongodb:
    host: "ttk-mongodb"
    port: "27017"
    user: "ttk"
    ## Secret-Management
    ### Set this if you are using a clear password configured in the config section
    password: ''
    ### Configure this if you want to use a secret. Note, this will override the db_password,
    ### Use the next line if you do wish to use the db_password value instead.
    # secret:
    ### Example config for an existing secret
    # secret:
    #   name: ttk-mongodb
    #   key: mongodb-passwords
    database: "ttk"

## Svc config files
## $snake_case values are dynamic
config_files:
  ## We can specify the files and folders here those we want to override in the TTK `spec_files` directory.
  ## For example, you can specify user_config.json, system_config.json ...etc
  ## Files inside the folders can be defined with full path of the files with slashes replaced by two underscores `__`.
  ## For example, `rules_response__default.json`, `rules_callback__default.json`, `rules_validation__default.json` ...etc
  ## We can pass the JSON content as the value for the parameters
  ## Or we can pass a http/https URL for the JSON file as the value for the parameters. Then the file will be downloaded and replaced in the corresponding location.
  ## Ex: rules_callback__default.json: "https://raw.githubusercontent.com/mojaloop/ml-testing-toolkit/master/spec_files/rules_callback/default.json"
  user_config.json: {"VERSION": 1, "CALLBACK_ENDPOINT": "http://localhost:4000", "CALLBACK_RESOURCE_ENDPOINTS": {"enabled": true, "endpoints": [{"method": "put", "path": "/parties/{Type}/{ID}", "endpoint": "http://$release_name-account-lookup-service"}, {"method": "put", "path": "/quotes/{ID}", "endpoint": "http://$release_name-quoting-service"}, {"method": "put", "path": "/transfers/{ID}", "endpoint": "http://$release_name-ml-api-adapter-service"}]}, "HUB_ONLY_MODE": false, "ENDPOINTS_DFSP_WISE": {"dfsps": {"userdfsp": {"defaultEndpoint": "http://scheme-adapter:4000", "endpoints": []}, "userdfsp2": {"defaultEndpoint": "http://scheme-adapter2:4000", "endpoints": []}}}, "SEND_CALLBACK_ENABLE": true, "FSPID": "testingtoolkitdfsp", "DEFAULT_USER_FSPID": "userdfsp", "TRANSFERS_VALIDATION_WITH_PREVIOUS_QUOTES": true, "TRANSFERS_VALIDATION_ILP_PACKET": true, "TRANSFERS_VALIDATION_CONDITION": true, "ILP_SECRET": "secret", "VERSIONING_SUPPORT_ENABLE": true, "VALIDATE_INBOUND_JWS": false, "VALIDATE_INBOUND_PUT_PARTIES_JWS": false, "JWS_SIGN": false, "JWS_SIGN_PUT_PARTIES": false, "CLIENT_MUTUAL_TLS_ENABLED": false, "ADVANCED_FEATURES_ENABLED": true, "CALLBACK_TIMEOUT": 20000, "DEFAULT_REQUEST_TIMEOUT": 5000, "SCRIPT_TIMEOUT": 5000, "LOG_SERVER_UI_URL": "http://log-server-url.demo", "MONITORING_LOG_INCLUDE_PAYLOAD": true, "UI_CONFIGURATION": {"MOBILE_SIMULATOR": {"HUB_CONSOLE_ENABLED": true}}, "CLIENT_TLS_CREDS": [{"HOST": "testfsp1", "CERT": "-----BEGIN CERTIFICATE-----\nMIIFATCCAumgAwIBAgIUEcEtqgcXBoTykvaD6PprzY8kxpYwDQYJKoZIhvcNAQEL\nBQAwfzERMA8GA1UEChMITW9kdXNCb3gxHDAaBgNVBAsTE0luZnJhc3RydWN0dXJl\nIFRlYW0xTDBKBgNVBAMTQ3Rlc3Rmc3AxLnFhLnByZS5teWFubWFycGF5LXByZS5p\nby5pbnRlcm5hbCB0ZXN0ZnNwMSBJbnRlcm1lZGlhdGUgQ0EwHhcNMjEwMjIyMTkw\nMTEyWhcNMjMwMjIzMDY0MDA2WjBdMREwDwYDVQQKEwhNb2R1c0JveDEcMBoGA1UE\nCxMTSW5mcmFzdHJ1Y3R1cmUgVGVhbTEqMCgGA1UEAxMhdGVzdGZzcDEucWEucHJl\nLm15YW5tYXJwYXktcHJlLmlvMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC\nAQEApndEBbmdlfrpnidagKb2D32bEL+iGYxLEicdQVs24018zNPdbrIYtXyDjgjA\nq718HH5XQW2FSz6cA1CbQ6jLuY88EZRUiCSJ4rCkENWw+mpVLyOd+mcYU4JwOQNC\nP+W8GGcW/haifkXtHEDUO4pIxnXWC6DftvxZ3TH5PxtWO8aJcsoj94oBTPOhnGi0\nC356XyseYl7o7hdxZu3DvY3Wyh/k5pDDHOCjQYxl9wjtW+BVWMCFxRaCu4f/3LVj\nca9BccwZ8O4Rdhu6lhJEUCUgTqdx3vXRB1xzwHT0W7gariy4RVbvwE35AaCliyEr\n4O5WlCvAMOct7POYDAwNuoeb7wIDAQABo4GWMIGTMA4GA1UdDwEB/wQEAwIDqDAT\nBgNVHSUEDDAKBggrBgEFBQcDAjAdBgNVHQ4EFgQU2alVxVOOplYXiLAYCDaII4E0\n/WgwHwYDVR0jBBgwFoAUCFvcCetcirxZPE3N6qMdOo5H7Z4wLAYDVR0RBCUwI4Ih\ndGVzdGZzcDEucWEucHJlLm15YW5tYXJwYXktcHJlLmlvMA0GCSqGSIb3DQEBCwUA\nA4ICAQBkX5LItY0calp7NT21O8z+iufVNV8onEch4J7HJjEVwtCB4UVl7LrWJ3cw\n9KLt7nj85/AUuuhtNPJO9DW/x+0xRyW94Ef5MYHP3nheFWTag8riYl/1SXljOssS\nHCpTvRhirnfGeqBGO1OBwCbkYNIEZI95eMerVoPFm0PfGBb4DJ6mUdfc3qzeOP7K\nOlE5VMhwH2PYv1TS7Hpj1k/1dxpdvyOs7EKVvWD+OokLhJaHgU8NWVetTUtsXSN/\nTv06ZN8JGTN/Udm7POVyEaol8Jw2FRGGKcwOBKbqroNs6POqTofqZeL4SFAkzzQL\nvOAhbQIB6GSznG1Gg1G9IjGVCMXUhpNK2PD8RR1ovzi0MZlRkITGRPhBYQf5xMFl\nZeq0mGFQR3VYDdlwT0O37C8fpaYvpdupeYdxcB623PNz1VkO1MbsXnOoHY8kcFGa\nMh4IARCeR/MwXNWHpGrd6J5Mzmhk0Vy8GyBbqcROUpNR/XTZYRTyfTEq5+amJyLi\n67OB9FP5cS7oQhj7gsaQCTJlxbh/CjmQdKmIimWSEZkDePK5eExNPafBk47tx4KA\nFmh9pIqRyheROesa/zTDGYySNcVd14dl703pyZQNO4b5rap0SZoyGDTfI+7OqAHM\nAz0kWYyZps2nqPZgbwDFigIy2TESvoXahCCtNUoCy9sawa3Diw==\n-----END CERTIFICATE-----", "KEY": "-----BEGIN RSA PRIVATE KEY-----\nMIIEpAIBAAKCAQEApndEBbmdlfrpnidagKb2D32bEL+iGYxLEicdQVs24018zNPd\nbrIYtXyDjgjAq718HH5XQW2FSz6cA1CbQ6jLuY88EZRUiCSJ4rCkENWw+mpVLyOd\n+mcYU4JwOQNCP+W8GGcW/haifkXtHEDUO4pIxnXWC6DftvxZ3TH5PxtWO8aJcsoj\n94oBTPOhnGi0C356XyseYl7o7hdxZu3DvY3Wyh/k5pDDHOCjQYxl9wjtW+BVWMCF\nxRaCu4f/3LVjca9BccwZ8O4Rdhu6lhJEUCUgTqdx3vXRB1xzwHT0W7gariy4RVbv\nwE35AaCliyEr4O5WlCvAMOct7POYDAwNuoeb7wIDAQABAoIBAB4YIawHSn36xpFY\n+/uWM5XJV2dHvb5wpoG5oIhYPSwKri05gCaq+9yTjhT3cB2cO/vKu2uQqTBZOUtA\nH1G0CmCZjHqBHmcec+8PkBmbCEu9PXkwLzc9vCAczL0B4dA7cC3ZNUbqQKYjbiJV\ndgjtjwqR8whXJRqntHdQuYa3InfbufcHNHhSXJwE9MqVRpsv/BfY9wjhQfGBHUnT\nCz41xj1bu8Uy4+/1sRF/l9fYDm5E6WbgzvI49/fM7hA+8fQqoRkFLlEzzBhWb93Q\n2qVo2Y5RhVpffdyxPYX7b9RI7UmUZYp2sLl5GYj5ZzTzsffwUdPl2pZlRkYJGvUo\nortpToECgYEA17NVIZgeQ5VcSsZKGJlzPkcdPoWCk7RY5DugxTaNwSE/uO25B/Ax\nBPE6ZC9LbfXyfTQXaam2VtpSzvNJ7p7j30qkEK0Z+I2pGAVohZg4enkHaIQkYtIP\naZZ/wce5R8VZq6EpToprTm3cG6T+nNVOzqRjUqgnUZyY8nWy2CD5OucCgYEAxZEb\nOKjo9Iwrod2uOZlQDAsnTvgqZySW/lORrnfEWmOEiJpRvjlxMfNPNlc2iMTBQShq\naPZi48g17btU8ACs2NOH/FXuxooDe+0gJDj48WP9/bBzOAOJqhKZ+g9l/Cr978yJ\nAHNh/w8foUUkqAfxmXoTImw7LdSaPIc7ewAlPbkCgYAcGq6d6O8QiTZ0O6/N0riU\nRbnGuqiPzDDE1AwXhgskPcvKsZapNR998FxWT185nZERxSbDyqwKVvnxIvvgDm3M\nWzJTReqbWwHMMnAy7+lz868GbCk9gvclH8nXmslGU61iUmZKaHigyGmkZHQURSq2\ne+7BB03QMWIwPSunQ2yVwwKBgQCbPrzvNvtnPsYCeZmwNSLLc/A9g5B+YCguTSjK\nud4XUOASH4FgQu8J2zFBeCKoMkPRmZqURBfM+cQ2vN+vgDhSYVYYGMZ6SHUYamq5\nS/OCa5poQMEpIM6KT/eioXr4PigwyL5XFlPJAu9N4HE/gI5+lYh3oiiWiNtx+Knq\nq2CYMQKBgQCv+QTGDrSc3SUaWT+JMoFdfzvJyyqQOUvgRbSGAp5GryYqI9dozx70\nlT2IdoAZ0DHrJhNs13Pr7ngXwqS6pKlZU8NSX2ch7h5ZwIsYJESzKwXF/frLMQSy\nTPV3d0hb7UaW3wqOx2Dbj8vJJdvUo3UUkOcmgesqGg3nf3t51I6k0A==\n-----END RSA PRIVATE KEY-----"}], "GITHUB_CONFIG": {"TEST_CASES_REPO_OWNER": "mojaloop", "TEST_CASES_REPO_NAME": "testing-toolkit-test-cases", "TEST_CASES_REPO_DEFAULT_RELEASE_TAG": "latest", "TEST_CASES_REPO_BASE_PATH": "collections/hub", "TEST_CASES_REPO_HUB_GP_PATH": "collections/hub/golden_path", "TEST_CASES_REPO_HUB_PROVISIONING_PATH": "collections/hub/provisioning"}, "DEFAULT_ENVIRONMENT_FILE_NAME": "hub-k8s-environment.json", "LABELS": [{"name": "p2p", "description": "Tests related to p2p transfer", "color": "red"}, {"name": "settlements", "description": "Tests related to settlements", "color": "green"}, {"name": "quotes", "description": "Tests related to quoting service", "color": "blue"}]}
  system_config.json: {"API_PORT": 4040, "HOSTING_ENABLED": false, "INBOUND_MUTUAL_TLS_ENABLED": false, "OUTBOUND_MUTUAL_TLS_ENABLED": false, "CONFIG_VERSIONS": {"response": 1, "callback": 1, "validation": 1, "forward": 1, "userSettings": 1}, "DB": {"HOST": "{{ .Values.config.mongodb.host }}", "PORT": "{{ .Values.config.mongodb.port }}", "USER": "{{ .Values.config.mongodb.user }}", "PASSWORD": "{{ .Values.config.mongodb.password }}", "DATABASE": "{{ .Values.config.mongodb.database }}"}, "OAUTH": {"AUTH_ENABLED": false, "APP_OAUTH_CLIENT_KEY": "ttk", "APP_OAUTH_CLIENT_SECRET": "23b898a5-63d2-4055-bbe1-54efcda37e7d", "MTA_ROLE": "Application/MTA", "PTA_ROLE": "Application/PTA", "EVERYONE_ROLE": "Internal/everyone", "OAUTH2_TOKEN_ISS": "http://$auth_host:$auth_port$auth_token_iss_path", "OAUTH2_ISSUER": "http://$auth_host:$auth_port$auth_issuer_path", "EMBEDDED_CERTIFICATE": "$auth_embedded_certificate"}, "KEYCLOAK": {"ENABLED": false, "API_URL": "http://$auth_host:$auth_port", "REALM": "testingtoolkit", "ADMIN_REALM": "master", "ADMIN_USERNAME": "admin", "ADMIN_PASSWORD": "", "ADMIN_CLIENT_ID": "admin-cli"}, "SERVER_LOGS": {"ENABLED": false, "RESULTS_PAGE_SIZE": 50, "ADAPTER": {"TYPE": "ELASTICSEARCH", "INDEX": "moja*", "API_URL": "http://elastic-search.demo/"}}, "CONNECTION_MANAGER": {"ENABLED": false, "API_URL": "http://$connection_manager_host:$connection_manager_port", "AUTH_ENABLED": false, "HUB_USERNAME": "hub", "HUB_PASSWORD": ""}, "HTTP_CLIENT": {"KEEP_ALIVE": false, "MAX_SOCKETS": 50, "UNUSED_AGENTS_EXPIRY_MS": 1800000, "UNUSED_AGENTS_CHECK_TIMER_MS": 300000}, "API_DEFINITIONS": [{"type": "fspiop", "version": "1.0", "folderPath": "fspiop_1.0", "asynchronous": true}, {"type": "fspiop", "version": "1.1", "folderPath": "fspiop_1.1", "asynchronous": true}, {"type": "settlements", "version": "1.0", "folderPath": "settlements_1.0"}, {"type": "settlements", "version": "2.0", "folderPath": "settlements_2.0"}, {"type": "central_admin", "caption": "(old)", "version": "9.3", "folderPath": "central_admin_old_9.3"}, {"type": "central_admin", "version": "1.0", "folderPath": "central_admin_1.0"}, {"type": "als_admin", "version": "1.1", "folderPath": "als_admin_1.1"}, {"type": "mojaloop_simulator", "version": "0.1", "folderPath": "mojaloop_simulator_0.1"}, {"type": "mojaloop_sdk_outbound_scheme_adapter", "version": "1.0", "folderPath": "mojaloop_sdk_outbound_scheme_adapter_1.0", "prefix": "sdk-out"}, {"type": "payment_manager", "version": "1.4", "folderPath": "payment_manager_1.4"}, {"type": "thirdparty_sdk_outbound", "version": "0.1", "folderPath": "thirdparty_sdk_outbound_0.1"}]}
  # rules_response__default.json: []
  # rules_callback__default.json: []
  # rules_validation__default.json: []

extraEnvironments: {}
parameters: {}

## @param initContainers Add additional init containers to the %%MAIN_CONTAINER_NAME%% pod(s)
## ref: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/
## e.g:
## initContainers:
##  - name: your-image-name
##    image: your-image
##    imagePullPolicy: Always
##    command: ['sh', '-c', 'echo "hello world"']
##
initContainers: [] # We want to disable init-containers as there is no need
## Use the following initContainers if you are using a MongoDB as a dependency
# initContainers: |
#   - name: wait-for-mongodb
#     image: bitnami/mongodb:6.0.1
#     imagePullPolicy: IfNotPresent
#     command:
#       - sh
#       - -c
#       - |
#         until mongosh mongodb://${DB_HOST}:${DB_PORT} --authenticationDatabase "${DB_DATABASE}" --username "${DB_USER}" --password "${DB_PASS}" --eval "disableTelemetry();db.adminCommand('ping')" ;
#         do
#           echo --------------------;
#           echo Waiting for MongoDB...;
#           sleep 2;
#         done;
#         echo ====================;
#         echo MongoDB ok!;
#     env:
#       - name: DB_HOST
#         value: '{{ .Values.config.mongodb.host }}'
#       - name: DB_PORT
#         value: '{{ .Values.config.mongodb.port }}'
#       - name: DB_USER
#         value: '{{ .Values.config.mongodb.user }}'
#       - name: DB_PASS
#       {{- if .Values.config.mongodb.secret }}
#         valueFrom:
#           secretKeyRef:
#             name: '{{ .Values.config.mongodb.secret.name }}'
#             key: '{{ .Values.config.mongodb.secret.key }}'
#       {{- else }}
#         value: {{ .Values.config.mongodb.password }}
#       {{- end }}
#       - name: DB_DATABASE
#         value: '{{ .Values.config.mongodb.database }}'

## @param master.podLabels Extra labels for pod(s)
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
##
podLabels: {}

## @param podAnnotations Additional custom annotations for pod(s)
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
##
podAnnotations: {}

service:
  ## @param service.type %%MAIN_CONTAINER_NAME%% service type
  ##
  type: ClusterIP
  ## @param service.port %%MAIN_CONTAINER_NAME%% service HTTP port
  ##
  ports:
    specApi:
      name: "spec-api"
      port: 4040
      externalPort: 4040
    adminApi:
      name: "admin-api"
      port: 5050
      externalPort: 5050
  ## @param service.loadBalancerIP %%MAIN_CONTAINER_NAME%% service Load Balancer IP
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#type-loadbalancer
  ##
  loadBalancerIP:
  ## @param service.loadBalancerSourceRanges %%MAIN_CONTAINER_NAME%% service Load Balancer sources
  ## ref: https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/#restrict-access-for-loadbalancer-service
  ## e.g:
  ## loadBalancerSourceRanges:
  ##   - 10.10.10.0/24
  ##
  loadBalancerSourceRanges: []
  ## @param service.externalTrafficPolicy %%MAIN_CONTAINER_NAME%% service external traffic policy
  ## ref http://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip
  ##
  externalTrafficPolicy: Cluster
  ## @param service.annotations Additional custom annotations for %%MAIN_CONTAINER_NAME%% service
  ##
  annotations: {}
  ## @param master.service.sessionAffinity Session Affinity for Kubernetes service, can be "None" or "ClientIP"
  ## If "ClientIP", consecutive client requests will be directed to the same Pod
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies
  ##
  sessionAffinity: None
  ## @param master.service.sessionAffinityConfig Additional settings for the sessionAffinity
  ## sessionAffinityConfig:
  ##   clientIP:
  ##     timeoutSeconds: 300
  ##
  sessionAffinityConfig: {}

ingress:
  enabled: true
  # Used to create an Ingress record.
  hosts:
    specApi:
      host: testing-toolkit-specapi.local
      port: 4040
      paths: ['/']
    adminApi:
      host: testing-toolkit.local
      port: 5050
      paths: ['/api/', '/socket.io/']
  className: "nginx"

  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 8m
    ## https://kubernetes.github.io/ingress-nginx/examples/rewrite/
    # nginx.ingress.kubernetes.io/rewrite-target: '/'
    # nginx.ingress.kubernetes.io/rewrite-target: '/$2'
    ## https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/
    # kubernetes.io/ingress.class: nginx
    ## https://kubernetes.github.io/ingress-nginx/user-guide/tls/#automated-certificate-management-with-kube-lego
    # kubernetes.io/tls-acme: "true"
  tls: []
  # Secrets must be manually created in the namespace.
  # - secretName: chart-example-tls
  #   hosts:
  #     - chart-example.local

# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#  cpu: 100m
#  memory: 128Mi
# requests:
#  cpu: 100m
#  memory: 128Mi
resources: {}

## Persist data to a persistent volume
persistence:
  enabled: false
  ## percona data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  # storageClass: "-"
  accessMode: ReadWriteOnce
  size: 1Gi
