apiVersion: v1
kind: Service
metadata:
  name: {{ include "connection-manager-frontend.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "connection-manager-frontend.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- with .Values.service.ports }}
    - port: {{ .webUi.externalPort }}
      targetPort: {{ .webUi.internalPort }}
      name: {{ .webUi.name }}
    {{- end }}
  selector:
    app.kubernetes.io/name: {{ include "connection-manager-frontend.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}