# MacOS
**/.DS_Store

# IDEs
.idea/**
.vscode
launch.json

# General Ignores
*IGNORE*
*ignore*
!.gitignore
!.helmignore
*.log
.env
.tmp
.tmp-changelogs

# Helm
**/charts
**/tmpcharts
requirements.lock
Chart.lock
index.yaml

# Helm Publish Repo
repo/**
