# MacOS
**/.DS_Store

# IDEs
.idea
.idea/**
.vscode
launch.json
*.swp

# General Ignores
*IGNORE*
*ignore*
!.gitignore
!.helmignore
*.log
.env
.tmp

# Helm
**/charts/*
!**/charts/*.tgz
**/tmpcharts
requirements.lock
Chart.lock
index.yaml

# Helm Publish Repo
repo/**

# Linting
test/**
node_modules
