# MacOS
**/.DS_Store

# IDEs
.idea/**
.vscode
launch.json

# General Ignores
*IGNORE*
*ignore*
!.gitignore
!.helmignore
*.log
.env

# Helm
**/charts
**/tmpcharts
requirements.lock
Chart.lock

# Helm Publish Repo
repo/**
