# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @mdebarros, @elynry-sam-k and @rmothilal will be requested for
# review when someone opens a pull request.
*       @mdebarros @elnyry-sam-k @rmothilal
