# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @mdebarros, @elnyry and @rmothilal will be requested for
# review when someone opens a pull request.
*       @mdebarros @elnyry @rmothilal
