apiVersion: v1
kind: Service
metadata:
  name: {{ template "finance-portal.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "finance-portal.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.Version }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.backend.image.port }}
      targetPort: backend
      protocol: TCP
      name: http-finance-portal-backend
    - port: {{ .Values.frontend.image.port }}
      targetPort: frontend
      protocol: TCP
      name: http-finance-portal-ui
  selector:
    app.kubernetes.io/name: {{ include "finance-portal.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
