{{ if contains "/self-service/recovery/api" .RequestURL }}You have been invited

A Mojaloop Hub account has been created for you.
Open the link below to set your password and complete your profile:
{{ else }}Reset your password

We received a request to reset the password of your Mojaloop Hub account.
Open the link below to choose a new one:
{{ end }}
{{ .RecoveryURL }}

This link expires in {{ if ge .ExpiresInMinutes 1440 }}{{ div .ExpiresInMinutes 1440 }} days{{ else if ge .ExpiresInMinutes 60 }}{{ div .ExpiresInMinutes 60 }} hours{{ else }}{{ .ExpiresInMinutes }} minutes{{ end }}.
If you did not expect this email, you can safely ignore it.
