
# Default values for account-lookup-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
containers:
  api:
    image:
      repository: mojaloop/account-lookup-service
      tag: v8.3.0
      pullPolicy: IfNotPresent
      command: '["node", "src/index.js", "server", "--api"]'
    service:
      ports:
        api:
          name: http-api
          port: 4002
  admin:
    image:
      repository: mojaloop/account-lookup-service
      tag: v8.3.0
      pullPolicy: IfNotPresent
      command: '["node", "src/index.js", "server", "--admin"]'
    service:
      ports:
        api:
          name: http-admin
          port: 4001

nameOverride: ""
fullnameOverride: ""


## metric configuration for prometheus instrumentation
metrics:
  ## flag to enable/disable the metrics end-points
  enabled: true
  config:
    timeout: 5000
    prefix: moja_
    defaultLabels:
      serviceName: account-lookup-service

config:
  ## Central-Ledger config
  central_services_host: '$release_name-centralledger-service'
  central_services_port: 80

  end_point_cache:
    expiresIn: 180000
    generateTimeout: 30000

  ## DB Configuration
  # db_type can either be 'postgres' or 'mysql'. Ensure the correct DB is enabled and configured below: postgresql.enabled or mysql.enabled
  db_type: 'mysql'
  # db_driver can either be 'pg' or 'mysql'. Ensure the correct corresponding db_type above has been set.
  db_driver: 'mysql'
  db_host: '$release_name-account-lookup-service-mysql'
  db_port: 3306
  db_user: account_lookup
  db_password: OdonPianoX
  db_database: account_lookup
  db_pool_min_size: 10
  db_pool_max_size: 10
  db_acquire_timeout: 30000
  db_create_timeout: 30000
  db_destroy_timeout: 5000
  db_idle_timeout: 30000
  db_reap_interval: 1000
  db_create_retry_interval: 200

  display_routes: true
  run_migrations: false

  log_level: 'info'

init:
  enabled: true
  mysql:
    enabled: true
    name: wait-for-mysql
    repository: mysql
    tag: latest
    pullPolicy: Always
    command: "until result=$(mysql -h $db_host -P $db_port -u $db_user --password=$db_password  $db_database -ss -N -e 'select is_locked from migration_lock;') && eval 'echo is_locked=$result' && if [ -z $result ]; then false; fi && if [ $result -ne 0 ]; then false; fi; do echo waiting for MySQL; sleep 2; done;"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - account-lookup-service.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
