name: account-lookup-service

sources:
  account-lookup-service:
    kind: helmchart
    spec: 
      url: file://./account-lookup-service
      name: account-lookup-service
  account-lookup-service-admin:
    kind: helmchart
    spec: 
      url: file://./account-lookup-service
      name: account-lookup-service-admin
  account-lookup-service-handler-timeout:
    kind: helmchart
    spec: 
      url: file://./account-lookup-service
      name: account-lookup-service-handler-timeout
  als-oracle-pathfinder:
    kind: helmchart
    spec: 
      url: file://./account-lookup-service
      name: als-oracle-pathfinder
  
conditions: {}

targets:
  account-lookup-service:
    sourceid: account-lookup-service
    kind: helmchart
    spec:
      name: account-lookup-service
      file: Chart.yaml
      key: $.dependencies[0].version
    transformers:
      - addprefix: '">= '
      - addsuffix: '"'
  account-lookup-service-admin:
    sourceid: account-lookup-service-admin
    kind: helmchart
    spec:
      name: account-lookup-service
      file: Chart.yaml
      key: $.dependencies[1].version
    transformers:
      - addprefix: '">= '
      - addsuffix: '"'
  account-lookup-service-handler-timeout:
    sourceid: account-lookup-service-handler-timeout
    kind: helmchart
    spec:
      name: account-lookup-service
      file: Chart.yaml
      key: $.dependencies[2].version
    transformers:
      - addprefix: '">= '
      - addsuffix: '"'
  als-oracle-pathfinder:
    sourceid: als-oracle-pathfinder
    kind: helmchart
    spec:
      name: account-lookup-service
      file: Chart.yaml
      key: $.dependencies[3].version
    transformers:
      - addprefix: '">= '
      - addsuffix: '"'
