# CircleCI v2 Config
version: 2

defaults_working_directory: &defaults_working_directory
  working_directory: /home/circleci/project

#TODO: add proper defaults for node, rename this to defaults_docker_helm

defaults_docker_helm: &defaults_docker_helm
  docker:
    - image: alpine/helm:2.13.1

defaults_Dependencies: &defaults_Dependencies
  name: Install default dependencies
  command: |
    apk --no-cache add git
    apk --no-cache add ca-certificates
    apk --no-cache add curl
    apk --no-cache add openssh-client
    apk add --no-cache -t python
    apk add --no-cache -t build-dependencies make gcc g++ libtool autoconf automake

defaults_license_scanner: &defaults_license_scanner
  name: Install and set up license-scanner
  command: |
    git clone https://github.com/mojaloop/license-scanner /tmp/license-scanner
    cd /tmp/license-scanner && make build default-files set-up
    echo 'export mode=docker' >> $BASH_ENV
    dockerImages=`cd /home/circleci/project && ./.circleci/format-docker-images.sh`
    echo "dockerImages are $dockerImages"
    echo "export dockerImages=\"${dockerImages}\"" >> $BASH_ENV

defaults_Environment: &defaults_environment
  name: Set default environment
  command: |
    echo "Initialising helm for local use only"
    helm init --client-only --skip-refresh

    echo "Adding repos necessary for publishing process"
    helm repo add incubator http://storage.googleapis.com/kubernetes-charts-incubator
    helm repo add kiwigrid https://kiwigrid.github.io
    helm repo add elastic https://helm.elastic.co

defaults_slack_announcement: &defaults_slack_announcement
  name: Slack announcement for tag releases
  command: |
    curl -X POST \
      $SLACK_WEBHOOK_ANNOUNCEMENT \
      -H 'Content-type: application/json' \
      -H 'cache-control: no-cache' \
      -d "{
      \"text\": \"*${CIRCLE_PROJECT_REPONAME}* - Release \`${CIRCLE_TAG}\`: https://github.com/mojaloop/${CIRCLE_PROJECT_REPONAME}/releases/tag/${CIRCLE_TAG}\"
    }"

defaults_git_identity_setup: &defaults_git_identity_setup
  name: Setup Git Identity
  command: |
    echo "Setting BASH_ENV..."
    source $BASH_ENV

    git config --global user.email "$GIT_CI_USER"
    git config --global user.password "$GIT_CI_PASSWORD"
    git config --global user.name "$GIT_CI_EMAIL"
    git remote add $GITHUB_PROJECT_USERNAME https://$GIT_CI_USER:$GITHUB_TOKEN@github.com/$GITHUB_PROJECT_USERNAME/$GITHUB_PROJECT_REPONAME.git

defaults_publish: &defaults_publish
  name: Publish helm charts
  command: sh $CIRCLE_WORKING_DIRECTORY/.circleci/publish_helm_charts.sh

jobs:
  setup:
    <<: *defaults_working_directory
    <<: *defaults_docker_helm
    steps:
      - checkout
      - run:
          name: Placeholder for setup
          command: echo "Placeholder for setup - Nothing to do here"

  test:
    <<: *defaults_working_directory
    <<: *defaults_docker_helm
    steps:
      - checkout
      - run:
          <<: *defaults_Dependencies
      - run:
          <<: *defaults_environment
      - run:
          name: Linting Helm Charts
          command: |
            sh lint-charts.sh

  audit-licenses:
    machine: true
    steps:
      - checkout
      - run:
          <<: *defaults_license_scanner
      - run:
          name: Set up nvm
          command: |
            # Note: this needs to be separate from the nvm install step
            echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
            echo "[ -s \"$NVM_DIR/nvm.sh\" ] && . \"$NVM_DIR/nvm.sh\"" >> $BASH_ENV
      - run:
          name: Set up correct node version
          command: |
            nvm install v10.15.3 && nvm alias default v10.15.3
            node --version
      - run:
          name: Run the license-scanner
          command: |
            source $BASH_ENV
            env | grep docker
            cd /tmp/license-scanner && make run
      - run:
          name: Build and save license-scanner summary
          command: |
            node --version
            cd /tmp/license-scanner && make postprocess
      - run:
          name: If this is a release, upload the license-scanner file to the github release
          command: |
            if [ "${CIRCLE_TAG}" = "" ]; then
              exit 0
            fi
            mv /tmp/license-scanner/results/license-summary.xlsx ./license-summary-${CIRCLE_TAG}.xlsx
            .circleci/upload-github-release-asset.sh github_api_token=$GITHUB_TOKEN owner=mojaloop repo=helm tag=${CIRCLE_TAG} filename=license-summary-${CIRCLE_TAG}.xlsx

      - store_artifacts:
          path: /tmp/license-scanner/results
          prefix: licenses

  build:
    <<: *defaults_working_directory
    <<: *defaults_docker_helm
    steps:
      - checkout
      - run:
          <<: *defaults_Dependencies
      - run:
          <<: *defaults_environment
      - run:
          name: Update Helm Charts
          command: |
            sh update-charts-dep.sh

  deploy:
    <<: *defaults_working_directory
    <<: *defaults_docker_helm
    steps:
      - checkout
      - run:
          <<: *defaults_Dependencies
      - run:
          <<: *defaults_environment
      - run:
          name: setup environment vars
          command: |
            echo 'export GITHUB_TARGET_BRANCH=$HELM_TARGET_BRANCH' >> $BASH_ENV
            echo 'export GITHUB_TOKEN=$GITHUB_TOKEN' >> $BASH_ENV
            echo 'export GITHUB_PROJECT_USERNAME=$CIRCLE_PROJECT_USERNAME' >> $BASH_ENV
            echo 'export GITHUB_PROJECT_REPONAME=$CIRCLE_PROJECT_REPONAME' >> $BASH_ENV
            echo 'export GITHUB_TAG=$CIRCLE_TAG' >> $BASH_ENV
            echo 'export GIT_CI_USER=$GIT_CI_USER' >> $BASH_ENV
            echo 'export GIT_CI_EMAIL=$GIT_CI_EMAIL' >> $BASH_ENV
      - run:
          <<: *defaults_git_identity_setup
      - run:
          <<: *defaults_publish
      - run:
          <<: *defaults_slack_announcement

workflows:
  version: 2
  build_and_test:
    jobs:
      - setup:
          context: org-global
          filters:
            tags:
              only: /.*/
            branches:
              ignore:
                - /feature.*/
                - /bugfix.*/
                - gh-pages
      - test:
          context: org-global
          requires:
            - setup
          filters:
            tags:
              only: /.*/
            branches:
              ignore:
                - /feature.*/
                - /bugfix.*/
                - gh-pages
      - audit-licenses:
          context: org-global
          requires:
            - setup
          filters:
            tags:
              only: /.*/
            branches:
              ignore:
                - /feature.*/
                - /bugfix.*/
                - gh-pages
      - build:
          context: org-global
          requires:
            - test
            - audit-licenses
          filters:
            tags:
              only: /.*/
            branches:
              ignore:
                - /feature.*/
                - /bugfix.*/
                - gh-pages
      - deploy:
          context: org-global
          requires:
            - build
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              ignore:
                - /.*/
