# Default values for ml-testing-toolkit-cli.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: mojaloop/ml-testing-toolkit
  tag: v11.2.3
## Optionally specify an array of imagePullSecrets.
## Secrets must be manually created in the namespace.
## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
##
#  imagePullSecrets:
#    - name: myregistrykey
  pullPolicy: Always

scheduling:
  enabled: false
  cronSchedule: '0 8 * * *'

postInstallHook:
  enabled: false
  weight: -5

config:
  testCasesZipUrl: https://github.com/mojaloop/testing-toolkit-test-cases/archive/master.zip
  testCasesPathInZip: testing-toolkit-test-cases-master/collections/hub/sequence
  awsS3BucketName: aws-s3-bucket-name
  awsS3FilePath: ttk-tests/reports
  ttkBackendURL: http://dev-testing-toolkit-adminapi.mojaloop.live
  testSuiteName: GP Tests
  environmentName: Development

configCreds:
  AWS_ACCESS_KEY_ID: 'some_aws_access_key'
  AWS_SECRET_ACCESS_KEY: 'some_aws_secret_key'
  AWS_REGION: 'us-west-2'
  SLACK_WEBHOOK_URL: 'slack_inbound_webhook'

## Optionally specify the config file defaults for TTK CLI
## You should specify at least mode here
# configFileDefaults: {
#   "mode": "outbound",
#   "reportFormat": "html",
#   "baseURL": "",
#   "reportTarget": "",
#   "reportAutoFilenameEnable": true,
#   "slackWebhookUrl": "",
#   "slackPassedImage": "",
#   "slackFailedImage": ""
# }
configFileDefaults: {
  "mode": "outbound"
}

testCaseEnvironmentFile:  {
  "inputValues": {}
}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

