apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "ml-api-adapter-service.fullname" . }}
  labels:
      app: {{ template "ml-api-adapter-service.fullname" . }}
      chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
      release: {{ .Release.Name }}
      heritage: {{ .Release.Service }}
data:
  default.json: {{ (tpl (.Files.Get .Values.config.default_json) . ) | quote }}