{{- $kafkaHost := ( .Values.config.kafka_host | replace "$release_name" .Release.Name ) -}}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "ml-api-adapter-service.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "ml-api-adapter-service.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "ml-api-adapter-service.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "ml-api-adapter-service.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
      {{- if .Values.metrics.enabled }}
      annotations:
        prometheus.io/port: "{{ .Values.service.internalPort }}"
        prometheus.io/scrape: "true"
      {{- end }}
    spec:
      {{- if .Values.init.enabled }}
      initContainers:
        - name: {{ .Values.init.image.name }}
          image: {{ .Values.init.image.repository }}:{{ .Values.init.image.tag }}
          imagePullPolicy: {{ .Values.init.image.pullPolicy }}
          command:
            - sh
            - "-c"
            - {{ (.Values.init.image.command | replace "$kafka_host" $kafkaHost | replace "$kafka_port" (printf "%.0f" .Values.config.kafka_port) ) | quote }}
          env:
          {{- range $envItem := .Values.init.image.env }}
          - name: {{ $envItem.name }}
            value: {{ $envItem.value }}
          {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.image.imagePullSecrets }}
          imagePullSecrets:
          {{ toYaml .Values.image.imagePullSecrets | indent 10 }}
          {{- end }}
          command: {{ .Values.image.command }}
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.service.internalPort }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.service.internalPort }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          {{- end }}
          volumeMounts:
            - name: {{ template "ml-api-adapter-service.fullname" . }}-config-volume
              mountPath: /opt/ml-api-adapter/config
          env:
            {{- if .Values.sidecar.enabled }}
            - name: EVENT_SDK_EVENT_LOGGER_SIDECAR_DISABLED
              value: "false"
            - name: EVENT_SDK_EVENT_LOGGER_SERVER_HOST
              value: {{ .Values.sidecar.config.event_logger_grpc_host | quote }}
            - name: EVENT_SDK_EVENT_LOGGER_SERVER_PORT
              value: {{ .Values.sidecar.config.event_logger_grpc_port | quote }}
            {{- end }}
            - name: LOG_LEVEL
              value: {{ .Values.config.log_level | quote }}
        {{- if .Values.sidecar.enabled }}
        - name: {{ .Chart.Name }}-sidecar
          image: "{{ .Values.sidecar.image.repository }}:{{ .Values.sidecar.image.tag }}"
          imagePullPolicy: {{ .Values.sidecar.image.pullPolicy }}
          {{- if .Values.sidecar.image.imagePullSecrets }}
          imagePullSecrets:
          {{ toYaml .Values.sidecar.image.imagePullSecrets | indent 10 }}
          {{- end }}
          command: {{ .Values.sidecar.image.command }}
          ports:
            - containerPort: {{ .Values.sidecar.service.internalPort }}
          {{- if .Values.sidecar.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.sidecar.readinessProbe.httpGet.path }}
              port: {{ .Values.sidecar.service.internalPort }}
            initialDelaySeconds: {{ .Values.sidecar.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.sidecar.readinessProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.sidecar.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.sidecar.livenessProbe.httpGet.path }}
              port: {{ .Values.sidecar.service.internalPort }}
            initialDelaySeconds: {{ .Values.sidecar.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.sidecar.livenessProbe.periodSeconds }}
          {{- end }}
          volumeMounts:
            - name: {{ template "ml-api-adapter-service.fullname" . }}-sidecar-volume
              mountPath: /opt/event-sidecar/config
          env:
            - name: LOG_LEVEL
              value: {{ .Values.sidecar.config.log_level }}
        {{- end }}
      volumes:
        - name: {{ template "ml-api-adapter-service.fullname" . }}-config-volume
          configMap:
            name: {{ template "ml-api-adapter-service.fullname" . }}-config
            items:
            - key: default.json
              path: default.json
        {{- if .Values.sidecar.enabled }}
        - name: {{ template "ml-api-adapter-service.fullname" . }}-sidecar-volume
          configMap:
            name: {{ template "ml-api-adapter-service.fullname" . }}-sidecar
            items:
            - key: default.json
              path: default.json
        {{- end }}
