# This is a YAML-formatted file.

sdk-scheme-adapter:
  enabled: true

  ## Local re-usable configs
  config:
    simName: &CONFIG_SIM2_NAME ttksim2
    database: &CONFIG_SIM2_DB 2

  sdk-scheme-adapter-api-svc:
    enabled: true
    nameOverride: 'ttksim2-sdk-api-svc'


    redis:
      database: *CONFIG_SIM2_DB # This is a number between 0 to 15

    config:
      simName: *CONFIG_SIM2_NAME

    env:
      DFSP_ID: '{{ .Values.config.simName }}'
      BACKEND_EVENT_CONSUMER_GROUP_ID: '{{ .Values.config.simName }}-domain_events_consumer_api_svc_backend_group'
      FSPIOP_EVENT_CONSUMER_GROUP_ID: '{{ .Values.config.simName }}-domain_events_consumer_api_svc_fspiop_group'
      BACKEND_EVENT_CONSUMER_TOPICS: '{{ .Values.config.simName }}-topic-sdk-outbound-domain-events'
      BACKEND_EVENT_PRODUCER_TOPIC: '{{ .Values.config.simName }}-topic-sdk-outbound-domain-events'
      FSPIOP_EVENT_CONSUMER_TOPICS: '{{ .Values.config.simName }}-topic-sdk-outbound-domain-events'
      FSPIOP_EVENT_PRODUCER_TOPIC: '{{ .Values.config.simName }}-topic-sdk-outbound-domain-events'
      BACKEND_ENDPOINT: '{{ .Release.Name }}-{{ .Values.config.simName }}-ttk-backend:4040'
  sdk-scheme-adapter-dom-evt-handler:
    enabled: true


    redis:
      database: *CONFIG_SIM2_DB # This is a number between 0 to 15

    config:
      simName: *CONFIG_SIM2_NAME

    nameOverride: 'ttksim2-sdk-dom-evt-handler'
    env:
      DOMAIN_EVENT_CONSUMER_GROUP_ID: '{{ .Values.config.simName }}-domain_events_consumer_group'
      DOMAIN_EVENT_CONSUMER_TOPICS: '{{ .Values.config.simName }}-topic-sdk-outbound-domain-events'
      COMMAND_EVENT_PRODUCER_TOPIC: '{{ .Values.config.simName }}-topic-sdk-outbound-command-events'
  sdk-scheme-adapter-cmd-evt-handler:
    enabled: true
    nameOverride: 'ttksim2-sdk-cmd-evt-handler'


    redis:
      database: *CONFIG_SIM2_DB # This is a number between 0 to 15

    config:
      simName: *CONFIG_SIM2_NAME

    env:
      COMMAND_EVENT_CONSUMER_GROUP_ID: '{{ .Values.config.simName }}-command_events_consumer_group'
      COMMAND_EVENT_CONSUMER_TOPICS: '{{ .Values.config.simName }}-topic-sdk-outbound-command-events'
      DOMAIN_EVENT_PRODUCER_TOPIC: '{{ .Values.config.simName }}-topic-sdk-outbound-domain-events'

ml-testing-toolkit:
  enabled: true

  ml-testing-toolkit-backend:
    enabled: true
    nameOverride: 'ttksim2-ttk-backend'
    config:
      user_config.json:
        CALLBACK_ENDPOINT: 'http://$release_name-ttksim2-sdk-api-svc:4001'
      system_config.json: {
        "API_DEFINITIONS": [
          {
            "type": "mojaloop_simulator_inbound",
            "version": "1.4",
            "folderPath": "mojaloop_simulator_sim_1.4",
            "asynchronous": true
          },
          {
            "type": "scheme_adapter_outbound",
            "version": "1.0",
            "folderPath": "mojaloop_sdk_outbound_scheme_adapter_1.0",
            "hostnames": [],
            "prefix": "/sdk-out",
            "asynchronous": true
          }
        ]
      }
      rules_response__default.json: 'https://raw.githubusercontent.com/mojaloop/testing-toolkit-test-cases/master/rules/sdk-bulk/response_rules.json'
      api_definitions__mojaloop_simulator_sim_1.4__api_spec.yaml: 'https://raw.githubusercontent.com/mojaloop/sdk-scheme-adapter/master/test/func/config/ttk-ttksim2/spec_files/api_definitions/mojaloop_simulator_sim_1.4/api_spec.yaml'
      api_definitions__mojaloop_sdk_outbound_scheme_adapter_1.0__api_spec.yaml: 'https://raw.githubusercontent.com/mojaloop/sdk-scheme-adapter/master/test/func/config/ttk-ttksim2/spec_files/api_definitions/mojaloop_sdk_outbound_scheme_adapter_1.0/api_spec.yaml'
      api_definitions__mojaloop_sdk_outbound_scheme_adapter_1.0__callback_map.json: 'https://raw.githubusercontent.com/mojaloop/sdk-scheme-adapter/master/test/func/config/ttk-ttksim2/spec_files/api_definitions/mojaloop_sdk_outbound_scheme_adapter_1.0/callback_map.json'

  #   ingress:
  #     enabled: true
  #     hosts:
  #       specApi:
  #         host: ml-testing-toolkit-specapi.local
  #       adminApi:
  #         host: ml-testing-toolkit.local
  #   extraEnvironments:
  #     ml-default-environment.json: {
  #       "inputValues": {
  #         "VAR1": "VALUE1"
  #       }
  #     }

  ml-testing-toolkit-frontend:
    enabled: true
    nameOverride: 'ttksim2-ttk-frontend'
  #   ingress:
  #     enabled: true
  #     hosts:
  #       ui:
  #         host: ml-testing-toolkit.local
  #   config:
  #     API_BASE_URL: http://ml-testing-toolkit.local
