{{- $dbHost := printf "%s-%s" .Release.Name .Values.postgresql.nameOverride -}}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "forensicloggingsidecar.fullname" . }}
  labels:
    app: {{ template "forensicloggingsidecar.fullname" . }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ template "forensicloggingsidecar.fullname" . }}
        chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
    spec:
{{- if .Values.global.config.affinity }}
      affinity:
{{ toYaml .Values.global.config.affinity | indent 8 }}
{{- end }}
{{- if .Values.global.config.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.global.config.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.global.config.tolerations }}
      tolerations:
{{ toYaml .Values.global.config.tolerations | indent 8 }}
{{- end }}
      initContainers:
        - name: wait-for-postgres
          image: bowerswilkins/awaitpostgres
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: "POSTGRES_URL"
            value: "postgresql://{{ .Values.postgresql.postgresUser }}:{{ .Values.postgresql.postgresPassword }}@{{ $dbHost }}:{{ .Values.postgresql.service.port }}/{{ .Values.postgresql.postgresDatabase }}?sslmode=disable"
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: {{ .Values.image.command }}
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.service.internalPort }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.internalPort }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          {{- end }}
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          env:
            - name: SIDE_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ template "forensicloggingsidecar.fullname" . }}
                  key: sidecar.port
            - name: SIDE_KMS__URL
              valueFrom:
                configMapKeyRef:
                  name: {{ template "forensicloggingsidecar.fullname" . }}
                  key: kms.uri
            - name: SIDE_DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: {{ template "forensicloggingsidecar.fullname" . }}
                  key: db.uri
          volumeMounts:
          - name: {{ template "forensicloggingsidecar.fullname" . }}-config-volume
            mountPath: /opt/sidecar/config
      volumes:
        - name: {{ template "forensicloggingsidecar.fullname" . }}-config-volume
          configMap:
            name: {{ template "forensicloggingsidecar.fullname" . }}
            items:
            - key: default.json
              path: default.json
            - key: knexfile.js
              path: knexfile.js
