console:
  # -- Settings for the `Config.yaml` (required).
  # For a reference of configuration settings,
  # see the [Redpanda Console documentation](https://docs.redpanda.com/docs/reference/console/config/).
  config:
    kafka:
      brokers:
        - kafka:9092
  # roles:
  # roleBindings:
