# Default values for inter-scheme-proxy-adapter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# @section Global parameters
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass

## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
## @param global.storageClass Global StorageClass for Persistent Volume(s)
##
global: {}

config: {}

envFromSecrets:
#  OAUTH_CLIENT_KEY_A:
#    secret:
#      name: some-secret-name
#      key: OAUTH_CLIENT_KEY_A
#  OAUTH_CLIENT_SECRET_A:
#    secret:
#      name: some-secret-name
#      key: OAUTH_CLIENT_SECRET_A

env:
  LOG_LEVEL: info

  METRICS_SERVER_LISTEN_PORT: 4004

  # Port number that the inbound (FSPIOP API) HTTP servers A & B will listen on
  INBOUND_LISTEN_PORT_A: 4000
  INBOUND_LISTEN_PORT_B: 4100

  # Enable mutual TLS authentication. Useful when not running in a secure
  # environment, i.e. when you're running it locally against your own implementation.
  OUTBOUND_MUTUAL_TLS_ENABLED_A: false
  OUTBOUND_MUTUAL_TLS_ENABLED_B: false

  # Location of certs and keys required for TLS
  # OUT_CA_CERT_PATH_A:./secrets/cacert_a.pem
  # OUT_CLIENT_CERT_PATH_A:./secrets/servercert_a.pem
  # OUT_CLIENT_KEY_PATH_A:./secrets/serverkey_a.pem
  # OUT_CA_CERT_PATH_B:./secrets/cacert_b.pem
  # OUT_CLIENT_CERT_PATH_B:./secrets/servercert_b.pem
  # OUT_CLIENT_KEY_PATH_B:./secrets/serverkey_b.pem

  # SWITCH ENDPOINTS
  PEER_ENDPOINT_A: $release_name-ml-testing-toolkit-backend:4040
  PEER_ENDPOINT_B: $release_name-ml-testing-toolkit-backend:4040

  # Participant ID of this Proxy
  PROXY_ID: "proxyispa"

  # OAuth2 data used to obtain bearer token
  # Use envFromSecrets instead when secret is stored as k8s secret
  OAUTH_TOKEN_ENDPOINT_A: http://localhost:8080/openid-connect/token
  OAUTH_CLIENT_KEY_A: dfsp-jwt
  OAUTH_CLIENT_SECRET_A: secretA
  OAUTH_REFRESH_SECONDS_A: 3600

  OAUTH_TOKEN_ENDPOINT_B: http://localhost:8080/openid-connect/token
  OAUTH_CLIENT_KEY_B: dfsp-jwt
  OAUTH_CLIENT_SECRET_B: secretB
  OAUTH_REFRESH_SECONDS_B: 3600

  # Management API websocket connection settings.
  # The Management API uses this for exchanging connector management messages.
  MGMT_API_WS_URL_A: 127.0.0.1
  MGMT_API_WS_PORT_A: 4005

  MGMT_API_WS_URL_B: 127.0.0.1
  MGMT_API_WS_PORT_B: 4105

  # Set to true to enable the use of PM4ML-related services e.g MCM, Management API service
  PM4ML_ENABLED: false

  # Interval to check peer JWS changes in milliseconds. This is fail safe mechanism, so the value can be high.
  CHECK_PEER_JWS_INTERVAL: 1800000

podAffinityPreset: ""
## @param podAntiAffinityPreset Pod anti-affinity preset. Ignored if `main.affinity` is set. Allowed values: `soft` or `hard`
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
##
podAntiAffinityPreset: soft
## Node affinity preset
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
##

nodeAffinityPreset:
  ## @param nodeAffinityPreset.type Node affinity preset type. Ignored if `main.affinity` is set. Allowed values: `soft` or `hard`
  ##
  type: ""
  ## @param nodeAffinityPreset.key Node label key to match. Ignored if `main.affinity` is set
  ##
  key: ""
  ## @param nodeAffinityPreset.values Node label values to match. Ignored if `main.affinity` is set
  ## E.g.
  ## values:
  ##   - e2e-az1
  ##   - e2e-az2
  ##
  values: []
## @param affinity Affinity for %%MAIN_CONTAINER_NAME%% pods assignment
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
## NOTE: `podAffinityPreset`, `main.podAntiAffinityPreset`, and `main.nodeAffinityPreset` will be ignored when it's set
##

## Pod scheduling preferences.
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

## Node labels for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector
nodeSelector: {}

## Set toleration for scheduler
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

## Configure Pods Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
## @param podSecurityContext.enabled Enabled %%MAIN_CONTAINER_NAME%% pods' Security Context
## @param podSecurityContext.fsGroup Set %%MAIN_CONTAINER_NAME%% pod's Security Context fsGroup
##
podSecurityContext:
  enabled: true
  fsGroup: 1001
## Configure Container Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
## @param containerSecurityContext.enabled Enabled %%MAIN_CONTAINER_NAME%% containers' Security Context
## @param containerSecurityContext.runAsUser Set %%MAIN_CONTAINER_NAME%% containers' Security Context runAsUser
##
containerSecurityContext:
  enabled: true
  runAsUser: 1001
  readOnlyRootFilesystem: true

image:
  registry: docker.io
  repository: mojaloop/inter-scheme-proxy-adapter
  tag: v1.3.3
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ## e.g:
  ## pullSecrets:
  ##   - myRegistryKeySecretName
  ##
  pullSecrets: []

replicaCount: 1
command:
  - npm
  - start


## Enable diagnostic mode in the deployment
##
diagnosticMode:
  ## @param diagnosticMode.enabled Enable diagnostic mode (all probes will be disabled and the command will be overridden)
  ##
  enabled: false
  ## @param diagnosticMode.command Command to override all containers in the deployment
  ##
  command:
    - yarn
    - start
  ## @param diagnosticMode.args Args to override all containers in the deployment
  ##
  args:
    - --inspect=0.0.0.0:{{ .Values.diagnosticMode.debug.port }}

  ## @param diagnosticMode.debug config to override all debug information
  ##
  debug:
    internalPort: 9229
    port: 9229

## @param initContainers Add additional init containers to the %%MAIN_CONTAINER_NAME%% pod(s)
## ref: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/
## e.g:
## initContainers:
##  - name: your-image-name
##    image: your-image
##    imagePullPolicy: Always
##    command: ['sh', '-c', 'echo "hello world"']
##
initContainers: []

readinessProbe:
  enabled: true
  httpGet:
    path: /health
    port: 4000
  initialDelaySeconds: 15
  periodSeconds: 15
livenessProbe:
  enabled: true
  httpGet:
    path: /health
    port: 4000
  initialDelaySeconds: 15
  periodSeconds: 15

metrics:
  enabled: false
  config:
    timeout: 5000
    port: 4004
    prefix: moja_
    defaultLabels:
      serviceName: inter-scheme-proxy-adapter

## @param master.podLabels Extra labels for pod(s)
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
##
podLabels: {}

## @param podAnnotations Additional custom annotations for pod(s)
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
##
podAnnotations: {}

service:
  ## Not used by the inter-scheme-proxy-adapter
  # internalPort: 3000
  ## @param service.type %%MAIN_CONTAINER_NAME%% service type
  ##
  type: ClusterIP
  ## @param service.port %%MAIN_CONTAINER_NAME%% service HTTP port
  ##
  port: 80
  ## @param service.clusterIP %%MAIN_CONTAINER_NAME%% service Cluster IP
  ## e.g.:
  ## clusterIP: None
  ##
  clusterIP:
  ## @param service.loadBalancerIP %%MAIN_CONTAINER_NAME%% service Load Balancer IP
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#type-loadbalancer
  ##
  loadBalancerIP:
  ## @param service.loadBalancerSourceRanges %%MAIN_CONTAINER_NAME%% service Load Balancer sources
  ## ref: https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/#restrict-access-for-loadbalancer-service
  ## e.g:
  ## loadBalancerSourceRanges:
  ##   - 10.10.10.0/24
  ##
  loadBalancerSourceRanges: []
  ## @param service.externalTrafficPolicy %%MAIN_CONTAINER_NAME%% service external traffic policy
  ## ref http://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip
  ##
  externalTrafficPolicy: Cluster
  ## @param service.annotations Additional custom annotations for %%MAIN_CONTAINER_NAME%% service
  ##
  annotations: {}
  ## @param master.service.sessionAffinity Session Affinity for Kubernetes service, can be "None" or "ClientIP"
  ## If "ClientIP", consecutive client requests will be directed to the same Pod
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies
  ##
  sessionAffinity: None
  ## @param master.service.sessionAffinityConfig Additional settings for the sessionAffinity
  ## sessionAffinityConfig:
  ##   clientIP:
  ##     timeoutSeconds: 300
  ##
  sessionAffinityConfig: {}

ingress:
  ## @param ingress.enabled Enable ingress record generation for %%MAIN_CONTAINER_NAME%%
  ##
  enabled: true
  ## @param ingress.pathType Ingress path type
  ##
  pathType: ImplementationSpecific
  ## @param ingress.apiVersion Force Ingress API version (automatically detected if not set)
  ##
  apiVersion:
  ## @param ingress.hostname Default host for the ingress record
  ##
  hostname: inter-scheme-proxy-adapter.local
  ## @param ingress.path Default path for the ingress record
  ## NOTE: You may need to set this to '/*' in order to use this with ALB ingress controllers
  ##
  path: /
  ## @param ingress.annotations Additional custom annotations for the ingress record
  ## NOTE: If `ingress.certManager=true`, annotation `kubernetes.io/tls-acme: "true"` will automatically be added
  ##
  annotations: {}
  ## Example annotations for ingress class and rewrite-targets
  ## https://kubernetes.github.io/ingress-nginx/examples/rewrite/
  # nginx.ingress.kubernetes.io/rewrite-target: '/'
  # nginx.ingress.kubernetes.io/rewrite-target: '/$2'
  ## https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/
  # kubernetes.io/ingress.class: nginx
  ## https://kubernetes.github.io/ingress-nginx/user-guide/tls/#automated-certificate-management-with-kube-lego
  # kubernetes.io/tls-acme: "true""

  ## @param ingress.tls Enable TLS configuration for the host defined at `ingress.hostname` parameter
  ## TLS certificates will be retrieved from a TLS secret with name: `{{- printf "%s-tls" .Values.ingress.hostname }}`
  ## You can:
  ##   - Use the `ingress.secrets` parameter to create this TLS secret
  ##   - Relay on cert-manager to create it by setting `ingress.certManager=true`
  ##   - Relay on Helm to create self-signed certificates by setting `ingress.selfSigned=true`
  ##
  tls: false
  ## @param ingress.certManager Add the corresponding annotations for cert-manager integration
  ##
  certManager: false
  ## @param ingress.selfSigned Create a TLS secret for this ingress record using self-signed certificates generated by Helm
  ##
  selfSigned: false
  ## @param ingress.extraHosts An array with additional hostname(s) to be covered with the ingress record
  ## e.g:
  ## extraHosts:
  ##   - name: scheme-a.pm4ml.local
  ##     path: /
  ##
  ## @param ingress.extraPaths An array with additional arbitrary paths that may need to be added to the ingress under the main host
  ## e.g:
  ## extraPaths:
  ## - path: /*
  ##   backend:
  ##     serviceName: ssl-redirect
  ##     servicePort: use-annotation
  ##
  # extraPaths: []
  extraPaths:
    - path: /inbound-a/
      pathType: ImplementationSpecific
      backend:
        service:
          name: '{{ include "common.names.fullname" . }}'
          port:
            name: inboundapia
    - path: /inbound-b/
      pathType: ImplementationSpecific
      backend:
        service:
          name: '{{ include "common.names.fullname" . }}'
          port:
            name: inboundapib
  ## @param ingress.extraTls TLS configuration for additional hostname(s) to be covered with this ingress record
  ## ref: https://kubernetes.io/docs/concepts/services-networking/ingress/#tls
  ## e.g:
  ## extraTls:
  ## - hosts:
  ##     - transfer-api-svc.local
  ##   secretName: transfer-api-svc.local-tls
  ##
  extraTls: []
  ## @param ingress.secrets Custom TLS certificates as secrets
  ## NOTE: 'key' and 'certificate' are expected in PEM format
  ## NOTE: 'name' should line up with a 'secretName' set further up
  ## If it is not set and you're using cert-manager, this is unneeded, as it will create a secret for you with valid certificates
  ## If it is not set and you're NOT using cert-manager either, self-signed certificates will be created valid for 365 days
  ## It is also possible to create and manage the certificates outside of this helm chart
  ## Please see README.md for more information
  ## e.g:
  ## secrets:
  ##   - name: transfer-api-svc.local-tls
  ##     key: |-
  ##       -----BEGIN RSA PRIVATE KEY-----
  ##       ...
  ##       -----END RSA PRIVATE KEY-----
  ##     certificate: |-
  ##       -----BEGIN CERTIFICATE-----
  ##       ...
  ##       -----END CERTIFICATE-----
  ##
  secrets: []
  className: "nginx"

## RBAC configuration
##
rbac:
  ## @param rbac.create Specifies whether RBAC resources should be created
  ##
  create: false

## ServiceAccount configuration
##
serviceAccount:
  ## @param serviceAccount.create Specifies whether a ServiceAccount should be created
  ##
  create: false
  ## @param serviceAccount.name The name of the ServiceAccount to use.
  ## If not set and create is true, a name is generated using the common.names.fullname template
  ##
  name: ""
