{{- $dbHost := ( .Values.config.db_host | replace "$release_name" .Release.Name ) -}}
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ include "account-lookup-service-admin.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "account-lookup-service-admin.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "account-lookup-service-admin.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "account-lookup-service-admin.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    spec:
      {{- if .Values.init.enabled }}
      initContainers:
        {{- if and (eq .Values.config.db_type "mysql") (eq .Values.init.mysql.enabled true) }}
        - name: {{ .Values.init.mysql.name }}
          image: {{ .Values.init.mysql.repository }}:{{ .Values.init.mysql.tag }}
          imagePullPolicy: {{ .Values.init.mysql.pullPolicy }}
          command:
            - sh
            - "-c"
            - {{ (.Values.init.mysql.command | replace "$db_user" (print .Values.config.db_user) | replace "$db_password" (print .Values.config.db_password) | replace "$db_host" $dbHost | replace "$db_database" (print .Values.config.db_database) | replace "$db_port" (print .Values.config.db_port) )| quote }}
        {{- end }}
        {{- if .Values.init.migration.enabled }}
        - name: {{ .Values.init.migration.name }}
          image: {{ .Values.containers.admin.image.repository }}:{{ .Values.containers.admin.image.tag }}
          imagePullPolicy: {{ .Values.containers.admin.image.pullPolicy }}
          command:
            - sh
            - "-c"
            - {{ .Values.init.migration.command }}
          env:
            - name: "ALS_DATABASE_URI"
              value: "{{ .Values.config.db_type }}://{{ .Values.config.db_user }}:{{ .Values.config.db_password }}@{{ (default .Values.config.db_host $dbHost) }}:{{ .Values.config.db_port }}/{{ .Values.config.db_database }}"
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.containers.admin.image.repository }}:{{ .Values.containers.admin.image.tag }}
          imagePullPolicy: {{ .Values.containers.admin.image.pullPolicy }}
          command: {{ .Values.containers.admin.image.command }}
          env:
            - name: LOG_LEVEL
              value: {{ .Values.config.log_level }}
          ports:
            - name: {{ .Values.containers.admin.service.ports.api.name }}
              containerPort: {{ .Values.containers.admin.service.ports.api.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.containers.admin.service.ports.api.name }}
          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.containers.admin.service.ports.api.name }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          volumeMounts:
          - name: {{ template "account-lookup-service-admin.fullname" . }}-config-volume
            mountPath: /opt/account-lookup-service/config
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      volumes:
        - name: {{ template "account-lookup-service-admin.fullname" . }}-config-volume
          configMap:
            name: {{ template "account-lookup-service-admin.fullname" . }}-config
            items:
            - key: default.json
              path: default.json
            - key: knexfile.js
              path: knexfile.js
