# Default values for central-kms.
# This is a YAML-formatted file.

# Declare global configurations
global: {}

# Declare variables to be passed into your templates.

replicaCount: 1
image:
  repository: mojaloop/event-stream-processor
  tag: v12.0.0-snapshot.7
  pullPolicy: IfNotPresent

## Pod scheduling preferences.
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

## Node labels for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector
nodeSelector: {}

## Set toleration for scheduler
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

init:
  enabled: true
  kafka:
    name: wait-for-kafka
    repository: solsson/kafka
    tag: 2.8.1
    pullPolicy: IfNotPresent
    command: "until ./bin/kafka-broker-api-versions.sh --bootstrap-server $kafka_host:$kafka_port; do echo waiting for Kafka; sleep 2; done;"
    env: {}
    ## Env example
    # env:
    #   envItem1:
    #     name: hello
    #     value: world
    #

service:
  name: event-stream-processor
  type: ClusterIP
  externalPort: 80
  internalPort: 3082

  annotations: {}

  # This allows one to point the service to an external backend.
  # This is useful for local development where one wishes to hijack
  # the communication from the service to the node layer and point
  # to a specific endpoint (IP, Port, etc).
  external:
    enabled: false
    # 10.0.2.2 is the magic IP for the host on virtualbox's network
    ip: 10.0.2.2
    ports:
      api:
        name: event-stream-processor
        externalPort: 3082

readinessProbe:
  enabled: true
  httpGet:
    path: /health
  initialDelaySeconds: 30
  periodSeconds: 15

livenessProbe:
  enabled: true
  httpGet:
    path: /health
  initialDelaySeconds: 30
  periodSeconds: 15

ingress:
  enabled: true
    ## @param ingress.pathType Ingress path type
    ##
  pathType: ImplementationSpecific
    ## @param ingress.apiVersion Force Ingress API version (automatically detected if not set)
    ##
  apiVersion:
    ## @param ingress.hostname Default host for the ingress record
    ##
  hostname: event-stream-processor.local
    ## @param servicePort : port for the service
    ##
  servicePort: 80
    ## @param ingress.path Default path for the ingress record
    ## NOTE: You may need to set this to '/*' in order to use this with ALB ingress controllers
  path: /
    ## @param ingress.annotations Additional custom annotations for the ingress record
    ## NOTE: If `ingress.certManager=true`, annotation `kubernetes.io/tls-acme: "true"` will automatically be added
    ##
  annotations:
    ## @param ingress.tls Enable TLS configuration for the host defined at `ingress.hostname` parameter
    ## TLS certificates will be retrieved from a TLS secret with name: `{{- printf "%s-tls" .Values.ingress.hostname }}`
    ## You can:
    ##   - Use the `ingress.secrets` parameter to create this TLS secret
    ##   - Relay on cert-manager to create it by setting `ingress.certManager=true`
    ##   - Relay on Helm to create self-signed certificates by setting `ingress.selfSigned=true`
    ##
  tls: false
    ## @param ingress.certManager Add the corresponding annotations for cert-manager integration
    ##
  certManager: false
    ## @param ingress.selfSigned Create a TLS secret for this ingress record using self-signed certificates generated by Helm
    ##
  selfSigned: false
    ## @param ingress.extraHosts An array with additional hostname(s) to be covered with the ingress record
    ## e.g:
    ## extraHosts:
    ##   - name: transfer-api-svc.local
    ##     path: /
    ##
  extraHosts:
  extraPaths:
  extraTls:
  secrets:
  className: "nginx"
  ##

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

config:
  PORT: 3082
  ## Kafka Configuration
  # this can be set if the dependency chart for kafka is disabled. If 'kafka_host' is commented out, then the name of the dependency chart will be used.
  # kafka_host: kafka
  kafka_host: kafka
  kafka_port: 9092
  # fluentd_host: '$release_name-fluentd-elasticsearch-tcp-ingest'
  fluentd_host: efk-fluentd-elasticsearch-tcp-ingest.logging
  fluentd_port: 24224
  fluentd_namespace: logstash
  efk_host: elasticsearch-master.logging:9200
  efk_log: error
  efk_compression: gzip
  efk_index_name: mojaloop
  efk_index_template: '{{index}}-{{date}}'
  # apm_host: '$release_name-apm-server'
  apm_host: efk-apm-server.logging
  apm_port: 8200
  apm_service_name: event-stream-processor
  # master span cache config
  cache:
    ttl: 300000
    segment: trace
    expectSpanTimeout: 2000
    CATBOX_MEMORY:
      partition: trace-cache
      maxByteSize: 524288000
      minCleanupIntervalMsec: 100000

  # master span criteria config
  span:
    START_CRITERIA:
      transfer:
        -   prepare:
              service: ml_transfer_prepare
        -   fulfil:
              service: ml_transfer_fulfil
        -   abort:
              service: ml_transfer_abort
        -   timeout-received:
              service: cl_transfer_timeout
    END_CRITERIA:
      transfer:
        -   fulfil:
              service: ml_notification_event
        -   abort:
              service: ml_notification_event
        -   prepare:
              service: ml_notification_event
              isError: true
        -   timeout-received:
              service: ml_notification_event
      exceptionList: []
  # log level config
  log_level: info
