{{- range $name, $customConfig := .Values.simulators }}
{{- $config := merge $customConfig $.Values.defaults }}
{{- $fullName := printf "%s%s" (include "mojaloop-simulator.prefix" $) $name -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}-backend
  labels:
    app.kubernetes.io/name: sim-{{ $name }}-backend
    {{- include "mojaloop-simulator.common-labels" $ | nindent 4 }}
spec:
   type: ClusterIP
   ports:
     - port: 3000
       protocol: TCP
       name: simapi
       targetPort: simapi
     - port: 3002
       protocol: TCP
       name: reportapi
       targetPort: reportapi
     - port: 3003
       protocol: TCP
       name: testapi
       targetPort: testapi
   selector:
      app.kubernetes.io/name: sim-{{ $name }}-backend
      app.kubernetes.io/instance: {{ $.Release.Name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}-scheme-adapter
  labels:
    app.kubernetes.io/name: sim-{{ $name }}-scheme-adapter
    {{- include "mojaloop-simulator.common-labels" $ | nindent 4 }}
spec:
   type: ClusterIP
   ports:
     - port: {{ $config.config.schemeAdapter.env.INBOUND_LISTEN_PORT }}
       protocol: TCP
       name: inboundapi
       targetPort: inboundapi
     - port: {{ $config.config.schemeAdapter.env.OUTBOUND_LISTEN_PORT }}
       protocol: TCP
       name: outboundapi
       targetPort: outboundapi
     {{- if $config.config.schemeAdapter.env.ENABLE_TEST_FEATURES }}
     - port: {{ $config.config.schemeAdapter.env.TEST_LISTEN_PORT }}
       protocol: TCP
       name: testapi
       targetPort: testapi
     {{- end }}
   selector:
      app.kubernetes.io/name: sim-{{ $name }}-scheme-adapter
      app.kubernetes.io/instance: {{ $.Release.Name }}
---
{{- if $config.config.cache.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}-cache
  labels:
    app.kubernetes.io/name: sim-{{ $name }}-cache
    {{- include "mojaloop-simulator.common-labels" $ | nindent 4 }}
spec:
   type: ClusterIP
   ports:
     - port: {{ $config.config.schemeAdapter.env.CACHE_PORT }}
       protocol: TCP
       name: redis
       targetPort: redis
   selector:
      app.kubernetes.io/name: sim-{{ $name }}-cache
      app.kubernetes.io/instance: {{ $.Release.Name }}
{{- end }}

# TODO: thirdparty service!
---
{{ end }}
